.checkout-continue {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  padding: 10px 10px;
}

.checkout-continue:hover {
  background-color: #EFEFEF;
}

.checkout-continue a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.checkout-buy {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: #EFEFEF;
  border: 2px solid black;
  padding: 10px 71px;
}


.checkout-buy:hover {
  background-color: white;
}
.checkout-buy a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.checkout-page-title {
	font-weight: 300;
	text-align: center;
}

.position {
  display: flex;
  justify-content: center;
}

.checkout-product {
  border: 1px solid #ccc;
  margin-top: 3px;
  width: 60%;
}

.checkout-product-price {
	font-size: 30px;
	font-weight: 200;
}

.remove-product {
	cursor: pointer;
	background: none;
	border: none;
	padding: 10px 10px;
}

.checkout-total-price {
  text-align: center;
  font-size: 30px;
	font-weight: 200;
}

.btn-checkout-empty{
 display: flex;
 justify-content: center;
 margin-bottom: 2%;
}

.btn-final-checkout{
  display: flex;
  justify-content: space-around;
}

.form-position{
  display: flex;
  justify-content: center;
}

.input-double {
  font-size: 20px;
  padding: 1rem;
}

.input-single {
  font-size: 20px;
  padding: 1rem;
}

.checkout-label {
  text-align: start;
    font-size: 30px;
    font-weight: 200;
}